* {
  margin: 0;
  padding: 0;
}

body {
  background-image:url("../phase-1-javascript-project/images/food1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.category-section button{
  background-color: #4CAF50;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

body button{
  background-color: #4CAF50;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.category-section {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

#categories {
  display:block;
  list-style: none;
}


#categories li {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
#categories p{
  color:darkorange;
  font-weight:bolder;
  font-size: 30px;
}

#categories li img {
  object-fit: contain;
  width: 50px;
  margin-right: 5px;
}

.random-meal {
  width: 70vw;
  height: 90vh;
  background-color: black;
  color: white;
}

.meal-info {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.meal-info img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
}

.meal-info h2 {
  padding: 5px;
  margin: auto;
}

.meal-details {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: brown;
  display: flex;
  height: 50%;
  overflow: auto;
}

.random-meal:hover .meal-details {
  display: flex;
}

.ingredients,
.instructions {
  font-size:x-large ;
  padding: 20px;
  padding-top: 5px;
  margin: 10px 0;
}

h3{
  margin: 10px 0;
}

.ingredients ul {
  list-style-type: circle;
  padding-left: 20px;
}

.ingredients li {
  padding: 5px;
}

/* ipad size */
@media screen and (max-width: 820px) {
  .category-section {
    display: none;
  }
}